@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pedidos</h1>
    <p class="lead">Controle seus Pedidos Aqui</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>
            Gerencie as informações sobre seus clientes!
        </p>
        <p class="btn btn-default">@Html.ActionLink("Ir para Clinetes", "Index", "Cliente")</p>
    </div>
    <div class="col-md-4">
        <h2>Produtos</h2>
        <p>
            Cadastre ou edite seus produtos!
        </p>
        <p class="btn btn-default">@Html.ActionLink("Ir para Produtos", "Index", "Produto")</p>
    </div>
    <div class="col-md-4">
        <h2>Pedidos</h2>
        <p>
            Controle seus pedidos
        </p>
        <p class="btn btn-default">@Html.ActionLink("Ir para Pedidos", "Index", "Pedidoes")</p>
    </div>
</div>